services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333" # Qdrant API port
    volumes:
      - ./qdrant_storage:/qdrant/storage
volumes:
  ollama_data:
  qdrant_storage:
